.welcome-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.register-link {
  display: flex;
  flex-direction: column;
  gap: 10px;

  ion-button {
    margin: 0;
  }
}

ion-input {
  --padding-start: 0;
  --padding-end: 0;
}
